@media (max-width: 1024px) {
  .project-sec .container {
    padding-inline: 20px;
  }

  .work-sec .container {
    padding-inline: 20px;
  }

  .services-sec .container {
    padding-inline: 20px;
  }

  .header {
    padding: 35px 20px 26px 20px;
  }

  .hero-sec {
    padding-inline: 20px;
  }

  .hero-sec .main-heading .title-1 .inner-title h1 {
    font-size: 120px;
    line-height: 110px;
  }

  .hero-sec .main-heading .title-2 h1 {
    font-size: 80px;
    line-height: 90px;
  }

  .hero-sec .main-heading .title-3 .inner-title h1 {
    font-size: 90px;
    line-height: 110px;
  }

  .hero-sec .main-heading .title-3 .tagline {
    padding: 15px 35px 15px 33px;
  }

  .hero-sec .main-heading .title-3 .tagline p {
    font-size: 18px;
    line-height: 28px;
  }

  .services-sec .services-container {
    flex-direction: column;
  }

  .services-sec .services-container .services-frame:nth-child(1),
  .services-sec .services-container .services-frame:nth-child(2) {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header-left {
    display: none;
  }

  .full-nav .middle-content .nav-list .nav-item a {
    font-size: 30px;
    line-height: 38px;
  }

  .full-nav .bottom-content .left-content .contact-link {
    font-size: 20px;
    line-height: 22px;
  }

  .full-nav .bottom-content .right-content .social-list .social-item a {
    font-size: 18px;
    line-height: 22px;
  }

  .hero-sec .main-heading .title-1 .inner-title h1 {
    font-size: 90px;
    line-height: 100px;
  }

  .hero-sec .main-heading .title-2 h1 {
    font-size: 60px;
    line-height: 70px;
  }

  .hero-sec .main-heading .title-3 .inner-title h1 {
    font-size: 70px;
    line-height: 90px;
  }

  .hero-sec .main-heading .title-3 .tagline p {
    font-size: 12px;
    line-height: 20px;
  }

  .hero-sec .main-heading .title-3 .tagline {
    padding: 12px 20px 12px 20px;
    height: 80px;
  }

  .hero-sec .main-heading .title-3 .shape .inner-shape {
    height: 80px;
  }

  .hero-sec .hero-content .hero-content-left h4 {
    font-size: 18px;
    line-height: 25px;
  }

  .hero-sec .hero-content .hero-content-right p {
    font-size: 16px;
    line-height: 22px;
    max-width: 410px;
  }

  .project-sec .book-btn {
    display: none;
  }

  .project-sec .common-title .para {
    display: block;
  }

  .project-sec .common-title {
    flex-direction: column;
    text-align: center;
    gap: 5px;
  }

  .project-sec .project-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .work-sec .work-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }

  .work-sec .work-container .work-frame hr {
    margin-inline: auto;
  }

  .work-sec .work-container .work-frame .rating-star img {
    margin-inline: auto;
  }

  .work-sec .work-container .work-frame .client-avatar {
    justify-content: center;
    padding-right: 20px;
  }

  .work-sec .work-container .work-frame .highlight-text {
    justify-content: center;
  }

  .work-sec .work-container .work-frame .highlight-text .frame {
    align-items: center;
  }

  .work-sec .work-container .work-frame .msg-1 {
    font-size: 20px;
    line-height: 30px;
  }

  .work-sec .work-container .work-frame .msg-2 {
    font-size: 21px;
    line-height: 32px;
  }

  .work-sec .work-container .work-frame .highlight-text .frame h2 {
    font-size: 120px;
    line-height: 120px;
  }
}

@media (max-width: 435px) {
  .header-right .hamburger {
    width: 43px;
  }

  .header-right .hamburger span:nth-child(2) {
    width: 27.98px;
  }

  .full-nav .top-content .close-btn button {
    width: 40px;
    height: 40px;
  }

  .full-nav {
    padding: 25px;
  }

  .hero-sec .title-1 .common-cta {
    display: none;
  }

  .hero-sec .main-heading .sub-title h5 {
    font-size: 14px;
    line-height: 21px;
  }

  .hero-sec .main-heading .title-1 .inner-title h1 {
    font-size: 56px;
    line-height: 54px;
  }

  .hero-sec .main-heading .title-2 h1 {
    font-size: 56px;
    line-height: 54px;
  }

  .hero-sec .main-heading .title-3 .inner-title h1 {
    font-size: 56px;
    line-height: 54px;
  }

  .hero-sec .main-heading .title-3 {
    flex-direction: column-reverse;
    align-items: flex-start;
    row-gap: 20px;
  }

  .hero-sec .main-heading .title-3 .tagline {
    max-width: 284px;
    height: 60px;
    padding: 15px 30px 15px 30px;
  }

  .hero-sec .main-heading .title-3 .tagline p {
    font-size: 12px;
    line-height: 15.12px;
  }

  .hero-sec .main-heading .title-3 .shape .inner-shape {
    height: 60px;
  }

  .hero-sec .main-heading .title-3 .shape .inner-shape:nth-child(1) {
    width: 21px;
    margin-left: 6.45px;
  }

  .hero-sec .main-heading .title-3 .shape .inner-shape:nth-child(2) {
    width: 12px;
    margin-left: 3.83px;
  }

  .hero-sec .main-heading .title-3 .shape .inner-shape:nth-child(3) {
    width: 5px;
    margin-left: 4.5px;
  }

  .hero-sec .main-heading .title-3 .shape .inner-shape:nth-child(4) {
    width: 2px;
    margin-left: 6.23px;
  }

  .hero-sec .main-heading .mobile-cta {
    display: block;
  }

  .hero-sec .hero-content .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .hero-sec .hero-content .hero-content-left h4 {
    font-size: 14px;
    line-height: 21px;
    max-width: 100%;
  }

  .hero-sec .hero-content .hero-content-right p {
    font-size: 12px;
    line-height: 18px;
    max-width: 450px;
  }

  .hero-sec {
    padding-top: 165px;
    padding-bottom: 70px;
    gap: 20px;
  }

  .project-sec .project-container {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 30px;
  }

  .common-title .inner-title h2 {
    font-size: 32px;
    line-height: 39px;
  }

  .common-title .inner-title h2::before {
    display: none;
  }

  .common-title .para p {
    font-size: 12px;
    line-height: 18px;
  }

  .project-sec .project-container .project-frame .content h3 {
    font-size: 18px;
    line-height: 22px;
  }

  .project-sec .project-container .project-frame .content h5 {
    font-size: 12px;
    line-height: 18px;
  }

  .project-sec .project-container .project-frame .content {
    gap: 6px;
  }

  .common-cta button,
  .common-cta a {
    gap: 12px;
    min-width: 150px;
    height: 46px;
    font-size: 14px;
    line-height: 20px;
    padding: 4px 5px 4px 24px;
  }

  .common-cta .arrow-icon {
    width: 37px;
    height: 37px;
  }

  .common-cta .arrow-icon img {
    max-width: 12px;
  }

  .project-sec .view-more-btn {
    margin-top: 30px;
    padding-bottom: 0px;
    border-bottom: none;
  }

  .project-sec .see-price-btn {
    display: block;
  }

  .work-sec .container {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .work-sec .work-container .work-frame .msg-1 {
    font-size: 18px;
    line-height: 27px;
  }

  .work-sec .work-container .work-frame .msg-2 {
    font-size: 14px;
    line-height: 21px;
  }

  .work-sec .work-container .work-frame .highlight-text {
    flex-direction: column;
    gap: 15px;
    margin-top: 0px;
  }

  .work-sec .work-container .work-frame .highlight-text .frame h2 {
    font-size: 60px;
    line-height: 90px;
  }

  .work-sec .work-container .work-frame .highlight-text .frame span {
    font-size: 16px;
    line-height: 24px;
  }

  .work-sec .work-container .work-frame .client-avatar {
    margin-bottom: 40px;
  }

  .work-sec .work-container .work-frame:nth-child(1),
  .work-sec .work-container .work-frame:nth-child(2) {
    width: 100%;
  }
}
