@media (max-width: 1200px) {
  .project-sec .project-container .project-frame {
    max-width: 485px;
  }
}


@media (max-width: 1024px) {
  .project-sec .container {
    padding-inline: 20px;
  }

  .work-sec .container {
    padding-inline: 20px;
  }

  .services-sec .container {
    padding-inline: 20px;
  }

  .message-sec .container {
    padding-inline: 20px;
  }

  .client-sec .container {
    padding-inline: 20px;
  }

  .custom-sec .container {
    padding-inline: 20px;
  }

  .plan-sec .card-container:nth-child(2) {
    padding-inline: 20px;
  }

  .plan-sec .common-title {
    padding-inline: 20px;
  }

  .footer .container {
    padding-inline: 20px;
  }

  .header {
    padding: 35px 20px 26px 20px;
  }

  .hero-sec {
    padding-inline: 20px;
  }

  .hero-sec .main-heading .title-1 .inner-title span {
    font-size: 120px;
    line-height: 110px;
  }

  .hero-sec .main-heading .title-2 span {
    font-size: 80px;
    line-height: 90px;
  }

  .hero-sec .main-heading .title-3 .inner-title span {
    font-size: 90px;
    line-height: 110px;
  }

  .hero-sec .main-heading .title-3 .tagline {
    padding: 15px 35px 15px 33px;
  }

  .hero-sec .main-heading .title-3 .tagline p {
    font-size: 18px;
    line-height: 28px;
  }

  .services-sec .services-container {
    flex-direction: column;
  }

  .services-sec .services-container .services-frame:nth-child(1),
  .services-sec .services-container .services-frame:nth-child(2) {
    width: 100%;
  }

  .client-sec .common-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .client-sec .common-title .inner-title,
  .client-sec .common-title .para {
    max-width: 100%;
  }

  .plan-sec .common-title .para {
    max-width: 420px;
  }

  .message-sec .msg-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .plan-sec .card-container .card-frame {
    padding: 30px;
  }

  .footer .bottom-footer .right-content .social-list {
    justify-content: flex-end;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 400px;
  }

  .services-sec .services-container .services-frame .card .card-content ul {
    justify-content: start;
  }

  .custom-sec .custom-inner {
    width: 100%;
    padding: 25px 40px;
    border-radius: 15px;
  }

  .cs-left-content {
    width: 45%;
  }

  .cs-left-content h1 {
    font-size: 35px;
    font-weight: 600;
  }

  .cs-left-content p {
    font-size: 16px;
    font-weight: 300;
  }

  .custom-sec .common-cta a {
    font-size: 16px;
  }

  .custom-sec .custom-inner::after {
    right: -124px;
    bottom: -84px;
    width: 200px;
    height: 200px;
  }

  .custom-sec .custom-inner::before {
    right: -144px;
    bottom: -47px;
    width: 200px;
    height: 200px;
  }

  .project-sec .project-container .project-frame {
    max-width: 90%;
  }

  .project-sec .project-container .project-frame .content h3 {
    font-size: 20px;
    font-weight: 500;
  }

  .project-sec .project-container .project-frame .content h5 {
    font-size: 12px;
  }

  .message-sec .msg-container .msg-frame ul li {
    gap: 8px;
  }

  .message-sec .msg-container .msg-frame ul li:nth-child(2) {
    display: none;
  }

  .message-sec .msg-container .msg-frame ul li h6 {
    line-height: 18px;
  }

  .message-sec .msg-container .msg-frame ul li span {
    display: block;
    font-family: var(--poppins);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--pure-black);
  }
}

@media (max-width: 768px) {
  .header-left {
    display: none;
  }

  .full-nav .middle-content .nav-list .nav-item a {
    font-size: 30px;
    line-height: 38px;
  }

  .full-nav .bottom-content .left-content .contact-link {
    font-size: 20px;
    line-height: 22px;
  }

  .full-nav .bottom-content .right-content .social-list .social-item a {
    font-size: 18px;
    line-height: 22px;
  }

  .hero-sec .main-heading .title-1 .inner-title span {
    font-size: 90px;
    line-height: 100px;
  }

  .hero-sec .main-heading .title-2 span {
    font-size: 60px;
    line-height: 70px;
  }

  .hero-sec .main-heading .title-3 .inner-title span {
    font-size: 70px;
    line-height: 90px;
  }

  .hero-sec .main-heading .title-3 .tagline p {
    font-size: 12px;
    line-height: 20px;
  }

  .hero-sec .main-heading .title-3 .tagline {
    padding: 12px 20px 12px 20px;
    height: 80px;
  }

  .hero-sec .main-heading .title-3 .shape .inner-shape {
    height: 80px;
  }

  .hero-sec .hero-content .hero-content-left h4 {
    font-size: 18px;
    line-height: 25px;
  }

  .hero-sec .hero-content .hero-content-right p {
    font-size: 16px;
    line-height: 22px;
    max-width: 410px;
  }

  .project-sec .book-btn {
    display: none;
  }

  .project-sec .common-title .para {
    display: block;
  }

  .project-sec .common-title {
    flex-direction: column;
    text-align: center;
    gap: 5px;
  }

  /* 
  .project-sec .project-container {
    grid-template-columns: repeat(2, 1fr);
  } */

  .work-sec .work-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }

  .work-sec .work-container .work-frame hr {
    margin-inline: auto;
  }

  .work-sec .work-container .work-frame .rating-star img {
    margin-inline: auto;
  }

  .work-sec .work-container .work-frame .client-avatar {
    justify-content: center;
    padding-right: 20px;
    margin-bottom: 40px;
  }

  .work-sec .work-container .work-frame .highlight-text {
    justify-content: center;
  }

  .work-sec .work-container .work-frame .highlight-text .frame {
    align-items: center;
  }

  .work-sec .work-container .work-frame .msg-1 {
    font-size: 20px;
    line-height: 30px;
  }

  .work-sec .work-container .work-frame .msg-2 {
    font-size: 21px;
    line-height: 32px;
  }

  .work-sec .work-container .work-frame .highlight-text .frame h2 {
    font-size: 120px;
    line-height: 120px;
  }

  .client-sec .common-title .para .common-cta {
    display: none;
  }

  .plan-sec .common-title .para {
    display: none;
  }

  .plan-sec .card-container:nth-child(2) {
    display: none;
  }

  .plan-sec .card-container:nth-child(3) {
    display: flex;
  }

  .plan-sec .card-container .card-frame {
    height: 100%;
  }

  .plan-sec .queries {
    display: none;
  }

  .footer .top-footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-items: flex-start;
  }

  .footer .bottom-footer .left-content {
    display: flex;
    gap: 40px;
  }

  .project-sec .project-container {
    flex-direction: column;
  }

  .project-sec .project-container {
    gap: 30px;
  }

  .project-sec .project-container .project-left {
    gap: 30px;
  }

  .project-sec .project-container .project-frame {
    max-width: 100%;
  }

  .project-sec .project-container .project-frame .content h3 {
    font-size: 22px;
  }

  .project-sec .project-container .project-frame .content h5 {
    font-size: 14px;
  }

  .project-sec .project-container .project-right {
    gap: 30px;
    margin: 0;
    padding-bottom: 30px;
  }

  .custom-sec .custom-inner {
    flex-direction: column;
    gap: 20px;
  }

  .cs-left-content {
    width: 100%;
  }

  .cs-left-content h1 {
    text-align: center;
  }

  .cs-left-content p {
    text-align: center;
  }

  .hero-sec .main-heading .title-1 .inner-title span p::before {
    /* display: none; */
  }


  .project-sec .view-more-btn {
    text-align: center;
  }

  .project-sec .price {
    top: -58px;
    left: 266px;
  }

  .project-sec .project-container {
    padding-bottom: 0;
  }

  .project-sec .view-more-btn .price {
    top: -53px;
    left: 267px;
  }

  .custom-sec .custom-inner::after {
    right: -77px;
    bottom: 126px;
  }
}

@media (max-width: 435px) {
  .header-right .hamburger {
    width: 43px;
  }

  .header-right .hamburger span:nth-child(2) {
    width: 27.98px;
  }

  .full-nav .top-content .close-btn button {
    width: 40px;
    height: 40px;
  }

  .full-nav {
    padding: 25px;
  }

  .hero-sec .title-1 .common-cta {
    display: none;
  }

  .hero-sec .main-heading .sub-title h5 {
    font-size: 14px;
    line-height: 21px;
  }

  .hero-sec .main-heading .title-1 .inner-title span {
    font-size: 48px;
    line-height: 53px;
  }

  .hero-sec .main-heading .title-2 span {
    font-size: 42px;
    line-height: 47px;
  }

  .hero-sec .main-heading .title-3 .inner-title span {
    font-size: 45px;
    line-height: 55px;
  }

  .hero-sec .main-heading .title-3 {
    flex-direction: column-reverse;
    align-items: flex-start;
    row-gap: 20px;
  }

  .hero-sec .main-heading .title-3 .tagline {
    max-width: 284px;
    height: 60px;
    padding: 15px 30px 15px 30px;
  }

  .hero-sec .main-heading .title-3 .tagline p {
    font-size: 12px;
    line-height: 15.12px;
  }

  .hero-sec .main-heading .title-3 .shape .inner-shape {
    height: 60px;
  }

  .hero-sec .main-heading .title-3 .shape .inner-shape:nth-child(1) {
    width: 21px;
    margin-left: 6.45px;
  }

  .hero-sec .main-heading .title-3 .shape .inner-shape:nth-child(2) {
    width: 12px;
    margin-left: 3.83px;
  }

  .hero-sec .main-heading .title-3 .shape .inner-shape:nth-child(3) {
    width: 5px;
    margin-left: 4.5px;
  }

  .hero-sec .main-heading .title-3 .shape .inner-shape:nth-child(4) {
    width: 2px;
    margin-left: 6.23px;
  }

  .hero-sec .main-heading .mobile-cta {
    display: block;
  }

  .hero-sec .hero-content .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .hero-sec .hero-content .hero-content-left h4 {
    font-size: 14px;
    line-height: 21px;
    max-width: 100%;
  }

  .hero-sec .hero-content .hero-content-right p {
    font-size: 12px;
    line-height: 18px;
    max-width: 450px;
  }

  .hero-sec {
    padding-top: 165px;
    padding-bottom: 70px;
    gap: 20px;
  }

  .project-sec .project-container {
    grid-template-columns: repeat(1, 1fr);
    border-bottom: none;
  }

  .common-title .inner-title h2 {
    font-size: 32px;
    line-height: 39px;
  }

  .common-title .inner-title h2::before {
    display: none;
  }

  .common-title .para p {
    font-size: 12px;
    line-height: 18px;
  }

  .project-sec .project-container .project-frame .content h3 {
    font-size: 18px;
    line-height: 22px;
  }

  .project-sec .project-container .project-frame .content h5 {
    font-size: 12px;
    line-height: 18px;
  }

  /* 
  .project-sec .project-container .project-frame .content {
    gap: 6px;
  } */

  .common-cta button,
  .common-cta a {
    gap: 12px;
    min-width: 150px;
    height: 46px;
    font-size: 14px;
    line-height: 20px;
    padding: 4px 5px 4px 24px;
  }

  .common-cta .arrow-icon {
    width: 37px;
    height: 37px;
  }

  .common-cta .arrow-icon img {
    max-width: 12px;
  }

  .project-sec .view-more-btn {
    margin-top: 30px;
    padding-bottom: 0px;
    border-bottom: none;
  }

  .project-sec .see-price-btn {
    display: block;
  }

  .work-sec .container {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .work-sec .work-container .work-frame .msg-1 {
    font-size: 18px;
    line-height: 27px;
  }

  .work-sec .work-container .work-frame .msg-2 {
    font-size: 14px;
    line-height: 21px;
  }

  .work-sec .work-container .work-frame .highlight-text {
    flex-direction: column;
    gap: 15px;
    margin-top: 0px;
  }

  .work-sec .work-container .work-frame .highlight-text .frame h2 {
    font-size: 60px;
    line-height: 90px;
  }

  .work-sec .work-container .work-frame .highlight-text .frame span {
    font-size: 16px;
    line-height: 24px;
  }

  .work-sec .work-container .work-frame:nth-child(1),
  .work-sec .work-container .work-frame:nth-child(2) {
    width: 100%;
  }

  .services-sec .services-container .services-frame .common-title {
    align-items: center;
    text-align: center;
  }

  .services-sec .services-container .services-frame .cus-tabs button .text span {
    font-size: 16px;
    line-height: 19px;
  }

  .services-sec .services-container .services-frame .cus-tabs button .text h4 {
    font-size: 16px;
    line-height: 19px;
  }

  .services-sec .services-container .services-frame .cus-tabs button {
    height: 40px;
    padding: 5px 5px 5px 20px;
  }

  .services-sec .services-container .services-frame .cus-tabs button .arrow-icon {
    width: 30px;
    height: 30px;
  }

  .services-sec .services-container .services-frame .cus-tabs button .arrow-icon svg {
    max-width: 10px;
  }

  .services-sec .services-container {
    gap: 30px;
  }

  .services-sec .services-container .services-frame .card {
    gap: 30px;
  }

  .services-sec {
    padding: 50px 0px;
  }

  .project-scroller-sec .swiper-slide {
    width: 200px;
    border-radius: 10px;
  }

  .project-scroller-sec {
    padding-top: 70px;
  }

  .client-sec .common-title .inner-title h2 {
    line-height: 35px;
  }

  .client-sec .scroller .scroller-in .frame .top-content .image {
    width: 40px;
    height: 40px;
  }

  .client-sec .scroller .scroller-in .frame .top-content .dets h5 {
    font-size: 14px;
    line-height: 21px;
  }

  .client-sec .scroller .scroller-in .frame .top-content .dets h6 {
    font-size: 10px;
    line-height: 15px;
  }

  .client-sec .scroller .scroller-in .frame .bottom-content p {
    font-size: 12px;
    line-height: 18px;
    max-width: 240px;
  }

  .client-sec .scroller .scroller-in .frame {
    width: 278px;
    border-radius: 20px;
  }

  .client-sec {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .client-sec .common-cta-mobile {
    margin-top: 30px;
  }

  .client-sec .scroller:not(:last-child) {
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .plan-sec .common-title .inner-title h2 {
    line-height: 39px;
  }

  .plan-sec .card-container .card-frame h4 {
    font-size: 18px;
    line-height: 28px;
    margin-top: 14px;
  }

  .plan-sec .card-container .card-frame .price h3 {
    font-size: 38px;
    line-height: 56px;
  }

  .plan-sec .card-container .card-frame .features h5 {
    font-size: 16px;
    line-height: 24px;
  }

  .plan-sec .card-container .card-frame .features ul li {
    font-size: 14px;
  }

  .plan-sec .card-container .card-frame .price {
    margin-top: 14px;
    margin-bottom: 20px;
  }

  .plan-sec .card-container .card-frame .features {
    margin-top: 20px;
    gap: 12px;
  }

  .plan-sec .card-container .card-frame .features ul {
    gap: 12px;
  }

  .plan-sec .card-container {
    margin-top: 25px;
  }

  .message-sec .container {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .message-sec .msg-container .msg-frame {
    background-color: var(--pure-white);
    border-radius: 30px;
    padding: 25px;
  }

  .message-sec .msg-container .msg-frame .top-img img {
    margin-left: 28px;
    max-width: 31px;
  }

  .message-sec .msg-container .msg-frame h4 {
    font-size: 20px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 20px;
  }

  .message-sec .msg-container .msg-frame ul {
    padding-top: 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .message-sec .msg-container .msg-frame ul li {
    font-size: 12px;
    line-height: 18px;
  }

  .footer .bottom-footer {
    flex-direction: column;
    gap: 50px;
  }

  .footer .bottom-footer .right-content {
    align-items: flex-start;
  }

  .footer .container {
    padding: 50px 25px;
    gap: 40px;
  }

  .footer .top-footer .left-content h3 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 6px;
  }

  .footer .top-footer .left-content p {
    font-size: 16px;
    line-height: 24px;
  }

  .footer .bottom-footer .left-content .footer-list {
    gap: 20px;
  }

  .footer .bottom-footer .left-content .footer-list .footer-item a {
    font-size: 16px;
    line-height: 19px;
  }

  .footer .bottom-footer .right-content .social-list {
    justify-content: flex-start;
    margin-bottom: 50px;
  }

  .footer .bottom-footer .right-content .social-list .social-item a {
    font-size: 14px;
    line-height: 19px;
  }

  .footer .bottom-footer .right-content .contact-link {
    font-size: 13px;
    line-height: 19px;
  }

  .footer .bottom-footer .right-content .contact-list {
    flex-direction: row;
    gap: 12px;
  }

  .common-title .inner-title h2 span {
    width: 8px;
    height: 8px;
  }

  .custom-sec .custom-inner {
    padding: 40px 20px;
  }

  .cs-left-content h1 {
    font-size: 24px;
  }

  .cs-left-content p {
    font-size: 14px;
  }

  .custom-sec .common-cta a {
    font-size: 12px;
  }

  .custom-sec .custom-inner::after {
    right: -105px;
    bottom: 141px;
  }

  .services-sec .services-container .services-frame .card .card-content ul li {
    padding: 10px 12px;
  }

  .project-sec .project-container .project-frame .content h3 {
    font-size: 18px;
  }

  .project-sec .project-container .project-frame .content h5 {
    font-size: 12px;
  }

  .hero-sec .main-heading .title-1 .inner-title span p::before {
    width: 10px;
    height: 6px;
    top: 11px;
    left: 1px;
  }
}